<div class="chatbox">
  <h2> Your question </h2>
  <p class="chat"><%= @url_question %></p>
</div>
<div class="chatbox">
  <h2> Coach's answer </h2>
  <p class="chat"><%= @url_answer %></p>
</div>

<%= link_to "Okay, ask something else", "/ask", class: "your-class" %>
