<h1>Questions#ask</h1>
<p>Find me in app/views/questions/ask.html.erb</p>

<form action="/answer">
  <input type="text" name="question" placeholder="What's your question for the coach ?">
  <input type="submit" value="Ask!" class="form-control btn btn-primary col-xs-12" id="button">
</form>
